<!---------->
<!-- HEAD -->
<!---------->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SIVOC Recursos Humanos</title>

<!-- Alpine.js -->
<script defer src="/js/scripts/alpine.js" defer></script>

<!-- Tailwind CSS -->
<link rel="stylesheet" href="/css/tailwind.css">

<!-- Tabulator.js -->
<link href="/css/partials/tabulator.css" rel="stylesheet">
<script src="/js/scripts/bootstrap.js"></script>
<script src="/js/scripts/tabulator.min.js"></script>
<script src="/js/scripts/jspdf.js"></script>
<script src="/js/scripts/jspdf.autotable.js"></script>
<script src="/js/scripts/xlsx.js"></script>

<!-- Luxon.js -->
<script src="/js/scripts/luxon.js"></script>

<!-- Validator.js -->
<script src="/js/scripts/validator.js"></script>

<!-- Favicon -->
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">

<!-- Global Variables -->
<script>
    const URL_TAG = "<%- URL_TAG %>";
    const ERROR_MESSAGE = "<%- ERROR_MESSAGE %>";
</script>
<!---------->
<!-- HEAD -->
<!---------->