# Node.js
node_modules/
npm-debug.log
.env

# Logs
logs/
*.log
usuarios.xlsx
usuarios.pdf

# IDEs and Editors
.idea/
.vscode/
*.swp
request.rest
testServer.js

# Compiled output
dist/
build/

# Ignorar todos los archivos dentro de las subcarpetas de uploads
public/uploads/cursos/*
public/uploads/permisos/*
public/uploads/usuarios/*
public/uploads/vacaciones/*

# No ignorar el archivo .gitkeep
!public/uploads/cursos/.gitkeep
!public/uploads/permisos/.gitkeep
!public/uploads/usuarios/.gitkeep
!public/uploads/vacaciones/.gitkeep