# Node.js
node_modules/
.env

# SonarQube
.scannerwork

# File containers
uploads/cursos/*
uploads/permisos/*
uploads/usuarios/*
uploads/vacaciones/*
uploads/temp/*
!uploads/cursos/.gitkeep
!uploads/permisos/.gitkeep
!uploads/usuarios/.gitkeep
!uploads/vacaciones/.gitkeep
!uploads/temp/.gitkeep