<link rel="stylesheet" href="/css/navbar.css">
<div style="text-align: center; height: 100%; background: var(--white);">
    <br><br><div><button class="fourOfour" onclick="window.location.href='/login';"><h2 style="color: var(--white)">¡Vaya, por ahí no es! Da clic aquí para ingresar correctamente.</h2></button></div>
    <br><img src="/img/SIVOC_404.jpg" style="width: 63%; margin: 0.5rem; border-radius: 45px;">
</div>
  