<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos Humanos Sivoc</title>

    <!-- Global Scripts JS Libraries -->
    <script src="/js/scripts/swalFire.js" defer></script>
    <script src="/js/scripts/pagination.js" defer></script>

    <!-- External CSS Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <!-- External JS Libraries -->
    <script src="https://kit.fontawesome.com/84a524f45a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" defer></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.13.0/moment.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js" defer></script>
</head>

<body id="content" class="content">
    <nav class="navbar" style=" background: linear-gradient(135deg, var(--light-blue), var(--dark-green));
 padding: 0.5rem; height: 20px;">

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-menu">
                <div class="navbar-item" style="padding-left: 0;">
                    <i class="fa-solid fa-bars icon-css" style="color: var(--white); cursor: pointer;"
                    onclick="toggleSidebar()"></i>
                </div>
            </div>
        </div>


        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <i class="fa-solid fa-circle-user has-text-white icon-css"></i>
                    <a class="is-size-5 has-text-white" href="#">Nombre_Usuario</a> <!-- TODO -->
                </div>
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <img src="/SIVOC_LOGO.png" style="width: 80%; display: block; margin: auto; margin-bottom: 1rem;">
        <aside class="menu">
            <ul class="menu-list" style="margin: 0.5rem 0.5rem;">
                <!-- Botón Usuarios -->
                <a href="/usuarios" class="has-text-white is-size-5 mt-2">
                    <i class="fa-solid fa-users icon-css"></i> Usuarios
                </a>
                <!-- Botón Permisos -->
                <a href="/permisos" class="has-text-white is-size-5 mt-2">
                    <i class="fa-solid fa-clipboard-user icon-css"></i> Permisos
                </a>
                <!-- Botón Vacaciones -->
                <a href="/vacaciones" class="has-text-white is-size-5 mt-2">
                    <i class="fa-solid fa-umbrella-beach icon-css"></i> Vacaciones
                </a>
                <!-- Botón Cursos -->
                <a href="/cursos" class="has-text-white is-size-5 mt-2">
                    <i class="fa-solid fa-person-chalkboard icon-css"></i> Cursos
                </a>

                <!-- <a href="#" onclick="signOut()" class="has-text-white is-size-4 mt-2">Cerrar Sesión</a> -->
            </ul>
        </aside>
    </div>
    
    <script>
        sidebar.classList.toggle('active'); // Keep the sidebar always active, just hide it 
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            const content = document.getElementById('content');
            
            content.classList.toggle('shifted');
        }

        document.querySelectorAll('.menu-list a').forEach(item => {
            item.addEventListener('click', () => {
                document.querySelectorAll('.menu-list a').forEach(link => link.classList.remove('active'));
                item.classList.add('active');
            });
        });

        function signOut() {
            fetch('/logout', { method: 'POST', credentials: 'include' })
                .then(response => {
                    if (response.ok) {
                        window.location.href = "/";  // Redirect to homepage
                    }
                }).catch(error => console.error("Error:", error));
        }
    </script>
</body>

</html>