/* Variables Globales */
:root {
  /*Paleta de colores*/
  --white: #ebebec;
  --light-blue: #17A2B7;
  --cyan: #447989;
  --dark-green: #016e76;
  --black: #292f38;
  --font-buttons: 'HK Grotesk', sans-serif;
  --sidebar-width: 200px;
}