@import url('global_values.css');

/* Estilos para el sidebar oculto */
.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    padding-top: 1rem;
    background-color: var(--black);
}

html, body {
    height: 100%; /* Ensure the elements take up the full viewport height */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    overflow: auto; /* Add scrollbars only when content overflows */
}

.inside-content-css {
    padding: 1.5rem 2rem;
    background: radial-gradient(at bottom right, var(--white), var(--light-blue) 300%);
    transition: margin-left 0.3s ease;

    /* Fills the remaining space */
    position: relative; /* Permite que la scrollbar funcione en base al contenido de la página */
    height: fit-content;
    width: 100%;
}

.icon-css {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    /* Enable Flexbox */
    justify-content: center;
    /* Center icon horizontally */
    align-items: center;
    /* Center icon vertically */
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.sidebar.active {
    display: block;
}

/* Estilos para el contenido principal */
.content {
    transition: margin-left 0.3s ease;
}

/* Desplazamiento cuando el sidebar está activo */
.content.shifted {
    margin-left: var(--sidebar-width);
    height: fit-content;
}

.menu-list a {
    color: var(--white);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 1rem 0.5rem;
    margin: 1rem 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.menu-list a:hover {
    color: #000000 !important;
    /* Negro para texto */
    opacity: 1 !important;
    /* Asegura opacidad completa */
}

.icon-text {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.icon-text svg {
    width: 24px;
    height: 24px;
}