/* TODO: Fix popUp usage 2nd page pagination */

.default-button-css {
    background: linear-gradient(135deg, var(--light-blue), var(--dark-green));    
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 0.5rem 1rem;
    position: relative;
}

.default-button-css:hover {
    transform: scale(1.01);
    background-color: var(--dark-green);
}

.default-button-css:active {
    transform: scale(0.99);
}

.default-icon-button-css {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.table-button-css {
    border-radius: 50%;
    width:15px;
    height:15px;
    padding: 15px;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    font-size: 1.3rem;
    padding: 18px;

    display: flex;
    /* Enable Flexbox */
    justify-content: center;
    /* Center icon horizontally */
    align-items: center;
}

.table-button-css:hover {
    background-color: transparent;
    transform: scale(1.03);
}

.table-button-css:active {
    transform: scale(0.97);
}

.functionality-button-css {
    width: 10rem; 
    height: 5rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 3px solid var(--light-blue) !important;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.input:hover{
    border: 3px solid var(--dark-green) !important;
}

.table {
    border: 3px solid var(--light-blue) ;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: var(--white);
}

.table thead th {
    border: none;
    color: var(--white) !important;
    text-align: center;
    padding: 0.75rem;
    font-size: 1rem;
    font-family: var(--font);
}

.table tbody tr {
    height: 3rem; /* Altura fija para las filas */
}

.table tbody td {
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    vertical-align: middle; /* Asegura que el contenido quede alineado verticalmente */
}

.table tbody tr:hover {
    background-color: white;
}