<%- include('../navbar.ejs') %>
    <div class="inside-content-css">

        <h1> Modulo : Cursos </h1>


        <button class="add-button" onclick="handleRegisterModal()">
            <i class="fa-solid fa-circle-plus fa-2x"></i>
            <h1>Registrar Usuario to My Dark Green Page</h1>

        </button>
        
        <p>This page has a dark green background with white text.</p>


    </div>