<!---------->
<!-- BODY -->
<!---------->

<!-- Navbar Content -->
<nav class="navbar">
    <!-- Sidebar toggle icon -->
    <svg class="icon-css" style="color: var(--white); cursor: pointer; margin: 0rem 1rem;" onclick="toggleSidebar()"
        fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
    </svg>
    <!-- User information -->
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div x-data="{ imgSrc: '/modulorrhh/sivoc/getPfp', fallback: '<%- NGINX_TAG %>/img/SIVOC_PFP.png' }">
            <img 
                :src="imgSrc" 
                alt="Foto de perfil" 
                class="pfp-css" 
                x-on:error="imgSrc = fallback"
            >
        </div>
        <span class="text-white text-lg ml-4 mr-4" style="text-shadow: 0 0 8px rgba(0, 0, 0, 1);">
            <%- nameDisplay %>
        </span>
    </div>
</nav>

<!---------->
<!-- BODY -->
<!---------->